/* SCSS for User Transactions */

.container {
    .row {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #dee2e6;
      
      &:last-child {
        border-bottom: none;
      }
    }
  
    .font-weight-bold {
      font-weight: bold;
    }
  
    .pb-2 {
      padding-bottom: 10px;
    }
  }
  