/* You can add global styles to this file, and also import other style files */
/* SCSS for User Transactions */

.container {
    .row {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #dee2e6; // Light gray border
      
      &:last-child {
        border-bottom: none; // Remove the border from the last row
      }
    }
  
    .font-weight-bold {
      font-weight: bold;
    }
  
    .pb-2 {
      padding-bottom: 10px;
    }
  
    .btn {
      // Styling for the button
      &.btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
  
        &:hover {
          background-color: #0056b3;
          border-color: #0056b3;
        }
      }
    }
  }
  